* {
    margin: 0;
    padding: 0;
  }
  
body {
    background-color: #1574c7;
  }
  
  li {
    width: 150px;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    font-size: 35px;
  }
  

  .menuimg {
    width: 100px;
  }
  
  .menuimg:hover {
    opacity: 0.5;
    -webkit-transition: opacity 250ms ease-in;
    transition: opacity 250ms ease-in;
  }
  
  #Home {
    background-color: #cadcec;
  }
  
  #redcolor {
    background-color: #ff6464;
  }
    
  #yellowcolor {
    background-color: #f8f85b;
  }
  
  #greencolor {
    background-color: #bcf384;
  }
  
  #bluecolor {
    background-color: #4848d6;
  }
  
  #purplecolor {
    background-color: #ae71eb;
  }